<div class="row animated fadeInLeft fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control"
                    placeholder="Buscar usuarios"
                    #txtBuscar
                    (keyup)="buscar(txtBuscar.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight fast" *ngIf="this.cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!this.cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Hospitales - {{this.medicos.length}}</h4>
                        <h6 class="card-subtitle">Hospitales registrados en la base de datos</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary"
                                [routerLink]="['/dashboard/medico/nuevo']">
                                <i class="fa fa-hospital-o"></i> Crear
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                                <th>Medico</th>
                                <th>Usuario creador</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img [src]="medico.img | imagen: 'medicos'" [alt]="medico.nombre"
                                        (click)="actualizarImagen(medico)"
                                        class="avatar">
                                </td>
                                <td>{{medico.hospital.nombre}}</td>
                                <td>{{medico.usuario.nombre}}</td>
                                <td>{{medico.nombre}}</td>
                                <td class="text-right">
                                    <a data-toggle="tooltip" data-original-title="Editar"
                                        [routerLink]="['/dashboard/medico',medico._id]"
                                        class="cursor">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <a data-toggle="tooltip" data-original-title="Eliminar"
                                        (click)="borrarMedico(medico)"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>