<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="this.usuario.imagenUsuario" alt="user" />
                        <span class="hide-menu">
                            {{this.usuario.nombre}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="./perfil" routerLinkActive="active">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a routerLink="/dashboard/account-settings">Account Setting</a></li>
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i [class]="this.item.icono"></i>
                        <span class="hide-menu">
                            {{item.titulo}} 
                            <span class="label label-rouded label-themecolor pull-right">
                                {{item.submenu.length}}
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subItem of item.submenu">
                            <!--routerLinkActive -> clase que se le asigna a la eqtiqueta si 
                            el link actual hace match con el router Link-->
                            <!--routerLinkActiveOptions -> reglas del match,
                            exact -> ambas deben de ser iguales, no tan solo contener la 
                            porción de la url-->
                            <a [routerLink]="subItem.url"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">
                                {{subItem.titulo}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>